<h3>When do you have the greenest consumption?</h3>
<p>Greenity has developed an easy monitoring tool to watch your consumption habits, per hour and per day.</p>
<img width='240' src="/images/tutorial-2.png"/>

<h4 class="green">The greener, the better.</h4>

    <p>Each <i class="green icon-star"></i> is an hour when your consumption was in line with the highest renewable production rates.</p>
<p>A <i class="icon-flag orange"></i> is an hour when your consumption was high despite a low renewable production.</p>