<div id="myCarousel" class="carousel slide height-100" data-interval="false">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div id="page1" class="active item"></div>
    <div id="page2" class="item"></div>
    <div id="page3" class="item"></div>
    <div id="page4" class="item"></div>
    <div id="page5" class="item"></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>