<div class="history-container">
  <h5>Convert your flags into stars !</h5>

  <p>Here is how you did on the last 7 days.</p>

  <div id="full-history"></div>

  <table class="legend">
    <tr>
      <td class="item" style="background-color: rgba(211, 220, 90, 0.2)"></td>
      <td class="value"><b>CO2 Hour</b> Limited production of green energy</td>
    </tr>
    <tr>
      <td class="item" style="background-color: rgba(180, 211, 79, 0.53)"></td>
      <td class="value">Regular production of green energy</td>
    </tr>
    <tr>
      <td class="item" style="background-color: rgba(119, 146, 65, 0.7)"></td>
      <td class="value"><b>Green hour</b> A lot of energy on the grid is produced by renewable sources!</td>
    </tr>
    <tr>
      <td class="item"><i class="icon-star-empty"></i></td>
      <td class="value">Good job :-) ! You've used your energy-hungry equipments during a green peak</td>
    </tr>
    <tr>
      <td class="item"><i class="icon-flag"></i></td>
      <td class="value">Careful, you've used a lot of energy during a CO2 Hour</td>
    </tr>
  </table>
</div>

<div class="row-fluid section" id="goal-data" data-target="/breakdown">

</div>
