<div class="row-fluid section" data-target="/breakdown">
  <div class="in-container">
    <h4>Current consumption</h4>
    <div id="real-time"></div>
  </div>
</div>

<div class="row-fluid section" data-target="/breakdown">
  <div class="in-container">
    <h4>Current Green Production</h4>
    <div class="row-fluid">
      <div id="current-green-gauge"></div>
    </div>
  </div>
</div>

<div class="row-fluid section">
  <div class="in-container">

    <h4>Forecast
      <small>Next 6 hours</small>
    </h4>
    <div id="forecast" class="center"></div>
  </div>
</div>




<div class="row-fluid section" data-target="/history">
  <div class="in-container">
    <h4>Goals
      <small>March</small>
    </h4>
    <div class="row-fluid">
      <p class="span3 mobile-span legend">Green Hours</p>
      <div class="span9 mobile-span">
        <div class="progress">
          <div class="bar bar-green-hour" style="width: 30%;"></div>
          <div class="current-date-marker">Today</div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <p class="span3 mobile-span legend">CO2 Hours</p>

      <div class="span9 mobile-span">
        <div class="progress">
          <div class="bar bar-gray-hour" style="width: 60%;"></div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="row-fluid section">
  <div class="in-container">
    <h4>Advice</h4>

    <p>Get more green hours </p>

  </div>
</div>


<div class="row-fluid section">
  <div class="in-container">

    <h4>Scores
      <small>Past 6 months</small>
    </h4>
    <div id="scores"></div>
  </div>
</div>

